header {
    display: grid;
    grid-template-columns:  repeat(2, 50%);
    align-items: center;
    text-align: center;
    border: 2px solid black;
    position: relative;
    gap: 10px;
    max-width: 100%;
    position:static;
}

a {
    text-decoration: none;
}

footer {
    border: 2px solid black;
    max-width: 100%;
    padding: 5px;
    background-color: #a5a5a5;
    text-align: center;
}