/* all */
* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    text-decoration: none;
}

a {
    color: black;
    text-decoration: none;
}

/* navigation */
.nav-menu {
    display: flex;
    margin: 4px 10px;
    justify-content: space-between;
    position: relative;
}

.left-menu {
    margin-right: 20px;
}

.left-menu, .right-menu {
    display: flex;
    gap: 10px;
}

.left-menu p {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.left-menu-show {
    display: flex;
    position: absolute;
    flex-direction: column;
    flex: 1;
    width: 100px;
    padding: 20px;
    gap: 20px;
    background-color: white;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    transform: translateX(-800px);
    transition: transform 0.5s ease-in-out;
}

.left-menu-show.show {
    transform: translateX(-20px);
}

.right-menu-show {
    display: flex;
    flex: 1;
    gap: 20px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.nav-menu .left-menu img {
    max-width: 10%;
    height: 100%;
}

/* hero banner */
#hero-banner {
    margin: 20px 10px;
    padding: 40px 10px;
    text-align: center;
    width: auto;
    border-style: solid;
}

#hero-banner h1 {
    margin-bottom: 40px;
}

/* menu */
#menu {
    margin: 10px;
    padding: 10px;
    width: auto;
}

.menu-card {
    display: grid;
    margin-top: 10px;
    grid-template-columns: 1fr;
}

.menu-card img{
    margin: 0 auto;
    max-width: 70%;
    height: auto;
}

/* footer */
footer {
    border: 2px solid black;
    max-width: 100%;
    padding: 5px;
    background-color: #a5a5a5;
    text-align: center;
}

/* media 576-992px */
@media (min-width: 576px) {
    /* navigation */
    .left-menu {
        flex: 1;
    }

    .left-menu-show {
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        padding: 10px;
        gap: 20px;
        flex: none;
        margin-left: 12px;
        font-size: 16px;
        transform: translateX(0px);
        transition: none;
    }

    .fas.fa-bars.fa-2x {
        display: none;
    }

    /* menu */
    .all-menu {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .menu-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* media >992px */
@media (min-width: 992px) {
    /* navigation */
    .left-menu p {
        font-size: 40px;
    }

    .left-menu-show {
        font-size: 24px;
    }

    .right-menu-show {
        font-size: 24px;
        gap: 40px;
    }

    /* menu */
    .all-menu {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}